@import "tailwindcss";

@font-face {
  font-family: Sefa;
  font-style: normal;
  src: url("/fonts/Sefa.otf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3256c4;
  --secondary: #3a4257;
  --accent-1: #ee3725;
  --accent-2: #fed44b;
  --accent-3: #b3dc16;
  --muted: #393939;
  --muted-foreground: #636363;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sefa: sefa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
